<div>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="/css/login.css" type="text/css" rel="stylesheet" />
    </head>





    <h2>Login Form</h2>

    <div class="container">
        <head>
          <link rel="stylesheet" href="style.css">
        </head>
      <div class="log-form">
        <h2>Login to your account</h2>
        <form>
            <label for="first_name"><b>username</b></label>
          <input type="text" title="username" placeholder="username" required>
          <label for="password"><b>password</b></label>
          <input type="password" title="username" placeholder="password" />
          <div style="text-align:center;">
          <button type="submit" class="btn">Login</button>
          <a class="forgot" href="forgot_pss.html">Forgot Username?</a>
          </div>
        </form>
      </div>
      </div>
</div>